<nav>
    <a href="{% url 'homepage' %}">Home</a> | <a href="{% url 'welcomepage' %}">Welcome</a>
</nav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Project</title>
</head>
<body>
    <h1>All Players</h1>
    <form action="" method="GET">
        <input type="text" name="search" placeholder="Search by name" value="{{ search_query|default:'' }}">
        <button type="submit" name="sub">Search</button>
    </form>

    <a href="{% url 'addplayer' %}">Add New Players</a>
    <table border="2">
        <th>Name</th>
        <th>Test Innings</th>
        <th>Runs</th>
        <th>Actions</th>
        {% for player in players %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.test_innings }}</td>
            <td>{{ player.runs }}</td>
            <td><a href="{% url 'editplayer' player.id %}">Edit</a> | <a href="{% url 'deleteplayer' player.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
